<%= form_with(model: reservation, url: my_reservations_path, data: { controller: "flatpickr", reservations: reservations }) do |form| %>
  <h2>Book this room</h2>
  <%= render partial: 'shared/error_messages', locals: { object: reservation } %>
  <div class="form-group">
    <%= form.label :start_date, class: "form-label" %>
    <%= form.datetime_field :start_date, class: "form-control start_date", data: { flatpickr_target: "startDate" } %>
  </div>
  <div class="form-group">
    <%= form.label :end_date, class: "form-label" %>
    <%= form.datetime_field :end_date, class: "form-control end_date", data: { flatpickr_target: "endDate" } %>
  </div>
  <%= form.hidden_field :room_id, value: room.id %>
  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
