<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">MtBnb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <%= form_with url: rooms_path, method: :get, data: {turbo_frame: "rooms", turbo_action: "advance"}, class: "d-flex gap-2" do |form| %>
        <div class="form-label">
          <%= form.label :location, "Where" %>
          <%= form.text_field :location, class: "form-control me-2", placeholder: "Search destinations", aria: { label: "Search destinations" } %>
        </div>

        <div class="form-label">
          <%= form.label :start_date, "Start Date" %>
          <%= form.date_field :start_date, class: "form-control me-2", aria: { label: "Start Date" } %>
        </div>

        <div class="form-label">
          <%= form.label :end_date, "End Date" %>
          <%= form.date_field :end_date, class: "form-control me-2", aria: { label: "End Date" } %>
        </div>

        <%= form.submit "Search", class: "btn btn-primary" %>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
              <span><%= current_user.email %></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <%= link_to 'My rooms', my_rooms_path, class: 'dropdown-item' %>
              </li>
              <li>
                <%= link_to 'My reservations', my_reservations_path, class: 'dropdown-item' %>
              </li>
              <li class="border-top">
                <%= button_to destroy_user_session_path, class: 'dropdown-item', method: :delete do %>
                  Sign out
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
