<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">MtBnb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <%= form_tag(rooms_path, method: :get) do %>
        <%= label_tag(:location, class: 'form-label') do %>
          Where
          <%= search_field_tag(:location, @location, class: 'form-control me-2', placeholder: 'Search destinations') %>
        <% end %>
        <%= label_tag(:check_in, class: 'form-label') do %>
          Check in
          <%= date_field_tag(:check_in, @check_in, class: 'form-control me-2') %>
        <% end %>
        <%= label_tag(:check_out, class: 'form-label') do %>
          Check out
          <%= date_field_tag(:check_out, @check_out, class: 'form-control me-2') %>
        <% end %>
        <%= submit_tag('Search', class: 'btn btn-primary') %>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
              <span><%= current_user.email %></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <%= link_to 'My rooms', my_rooms_path, class: 'dropdown-item' %>
              </li>
              <li>
                <%= link_to 'My reservations', my_reservations_path, class: 'dropdown-item' %>
              </li>
              <li class="border-top">
                <%= button_to destroy_user_session_path, class: 'dropdown-item', method: :delete do %>
                  Sign out
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
