<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>

<div id="map" data-controller="map"></div>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">MtBnb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <%= form_with url: rooms_path, method: :get, class: 'd-flex gap-2', role: 'search' do |form| %>
        <div class="input-group">
          <span class="input-group-text">Choose a point on a map above</span>
          <%= form.hidden_field :latitude, class: 'form-control' %>
          <%= form.hidden_field :longitude, class: 'form-control' %>
          <span class="input-group-text">Search Radius (km)</span>
          <%= form.number_field :radius, :class => 'form-control', value: params[:radius] || 50 %>
          <span class="input-group-text">from</span>
          <%= form.date_field :check_in, :class => 'form-control', value: params[:check_in] %>
          <span class="input-group-text">to</span>
          <%= form.date_field :check_out, :class => 'form-control', value: params[:check_out] %>
          <%= submit_tag("Search") %>
        </div>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
              <span><%= current_user.email %></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <%= link_to 'My rooms', '/my/rooms', class: 'dropdown-item' %>
              </li>
              <li>
                <%= link_to 'My reservations', '/my/reservations', class: 'dropdown-item' %>
              </li>
              <li class="border-top">
                <%= button_to destroy_user_session_path, class: 'dropdown-item', method: :delete do %>
                  Sign out
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
