<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">B👁️👁️king!</a>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <!-- TODO: Implement this search -->
      <%= form_with url: rooms_path, class: 'd-flex gap-2', role: 'search' do |form| %>
        <div class="input-group">
          <%= form.text_field :location, class: 'form-control', value: params[:location], placeholder: "City" %>
          <span class="input-group-text">from</span>
          <%= form.date_field :from, :class => 'form-control', value: params[:from] %>
          <span class="input-group-text">to</span>
          <%= form.date_field :to, :class => 'form-control', value: params[:to] %>
          <%= form.submit "Find!", :class => 'btn btn-primary' %>
        </div>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
              <span><%= current_user.email %></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <!-- TODO: Implement route '/my/rooms' to display the rooms owned by the user -->
                <!-- TODO: '/my/rooms' must allow the user to fully manage its rooms -->
                <%= link_to 'My rooms', '/my/rooms', class: 'dropdown-item' %>
              </li>
              <li>
                <!-- TODO: Implement route '/my/reservations' to display the reservations made by the user -->
                <!-- TODO: '/my/rooms' must allow the user to fully manage its reservations -->
                <%= link_to 'My reservations', '/my/reservations', class: 'dropdown-item' %>
              </li>
              <li class="border-top">
                <%= button_to destroy_user_session_path, class: 'dropdown-item', method: :delete do %>
                  Sign out
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
