<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">MtBnb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <!-- TODO: Implement this search -->
      <%= form_with url: "/", method: :get, class:"d-flex gap-2" do |form| %>
        <%= form.label :query, "Où" %>
        <%= form.text_field :query, :class =>'form-control me-2', placeholder: "Choisissez votre destination" %>
        <%= form.label :checkin, "Arrivée", class:"form-label" %>
        <%= form.date_field :checkin, :class =>'form-control me-2' %>
        <%= form.label :checkout, "Départ", class:"form-label" %>
        <%= form.date_field :checkout, :class =>'form-control me-2' %>
        <%= form.submit "Search", class: "btn btn-primary" %>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
              <span><%= current_user.email %></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <!-- TODO: Implement route '/my/rooms' to display the rooms owned by the user -->
                <!-- TODO: '/my/rooms' must allow the user to fully manage its rooms -->
                <%= link_to 'My rooms', '/my_rooms', class: 'dropdown-item' %>
              </li>
              <li>
                <!-- TODO: Implement route '/my/reservations' to display the reservations made by the user -->
                <!-- TODO: '/my/rooms' must allow the user to fully manage its reservations -->
                <%= link_to 'My reservations', '/my_bookings', class: 'dropdown-item' %>
              </li>
              <li class="border-top">
                <%= button_to destroy_user_session_path, class: 'dropdown-item', method: :delete do %>
                  Sign out
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
