<div id="carousel<%= dom_id room %>" class="carousel slide" ">
  <div class="carousel-inner">
    <% if room.image.attached? %>
      <div class="carousel-item active">
        <%= image_tag room.image, class: "object-fit-cover image-height" %>
      </div>
    <% else %>
      <div class="carousel-item active">
        <%= image_tag 'no_img', class: "object-fit-cover image-height" %>
      </div>
    <% end %>
    <% if room.gallery_images.attached? %>
      <% room.gallery_images.each do |image| %>
        <div class="carousel-item">
          <%= image_tag image, class: "object-fit-cover image-height" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%= dom_id room %>" data-bs-slide="prev" onclick="event.stopPropagation();">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel<%= dom_id room %>" data-bs-slide="next" onclick="event.stopPropagation();">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
