<% @rooms.each do |room| %>
  <div class="card col-md-3 ">
    <%= image_tag url_for(room.images.first), class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= room.name %></h5>
      <p class="card-subtitle text-muted"><%= room.location %></p>
      <h6 class="card-text">$<%= room.price %></h6>
      <%= link_to 'View', room_path(room), class: 'btn btn-primary float-end' %>
    </div>
  </div>
<% end %>