<!-- TODO: Allow to reserve the room for various periods of time -->

<div class="col-md-12 card border-dark">
  <% if @room.images.present? %>
  <div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @room.images.each do |img| %>
      <div class="carousel-item active">
        <%= image_tag url_for(img), class: 'd-block w-100 img-fluid rounded-start'  %>
      </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <% else %>
    <img src="" class="img-fluid rounded-start" alt="...">
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= @room.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @room.location %></h6>
    <p class="card-text">description will be here</p>
    <h5 class="card-text text-end"><%= @room.price %> per night</h5>
  </div>
  <div class="card-footer bg-primary">
    <%= form_for(Booking.new) do |form| %>
      <%= form.hidden_field :room_id, value: @room.id %>
      <div class="input-group">
        <span class="input-group-text">from</span>
        <%= form.date_field :from, class: 'form-control', value: Date.today %>
        </span>
        <span class="input-group-text">to</span>
        <%= form.date_field :to, class: 'form-control', value: Date.tomorrow %>
        </span>
        <%= form.button "Book it!", type: "submit", :class => "btn btn-dark" %>
      </div>
    <% end %>
  </div>
</div>