<!-- TODO: Display rooms data: Name, Location, Picture(s), Price per night -->
<!-- TODO: Allow to reserve the room for various periods of time -->

<div class="container-fluid">
  <h2><%= @room.name %></h2>
  <% if @room.images.present? %>
    <div class="row overflow-auto flex-nowrap g-0">
      <% @room.images.each do |image| %>
        <div class="col-md-3 col-sm-4 col-xs-6 image-container">
          <%= image_tag(url_for(image), class: "img-responsive") %>
        </div>
      <% end %>
    </div>
  <% end %>
  <ul>
    <li><%= @room.address.city %></li>
    <li><%= @room.address.street %></li>
  </ul>
  <div>Price per night: <strong>$<%= @room.price %></strong></div>
  <div class="row mt-3">
    <div class="col-md-12">
      <%= render "reservations/form" %>
    </div>
  </div>
</div>
