<div class="container-sm">
  <%= form_with(model: room, url: url) do |form| %>
    <% if room.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(room.errors.count, 'error') %> prohibited this section from being saved:</h2>

        <ul>
          <% room.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <div class="mb-3">
        <%= form.label(:name, 'Name', class: 'form-label') %>
        <%= form.text_field(:name, class: 'form-control') %>
      </div>
      <div class="mb-3">
        <%= form.label(:location, 'Location', class: 'form-label') %>
        <%= form.text_field(:location, class: 'form-control') %>
      </div>
      <div class="mb-3">
        <%= form.label(:price_per_night, 'Price per night', class: 'form-label') %>
        <%= form.text_field(:price_per_night, class: 'form-control') %>
      </div>
      <div class="mb-3">
        <%= form.label(:start_date, 'Start date', class: 'form-label') %>
        <%= form.date_field(:start_date, class: 'form-control') %>
      </div>
      <div class="mb-3">
        <%= form.label(:end_date, 'End date', class: 'form-label') %>
        <%= form.date_field(:end_date, class: 'form-control') %>
      </div>
      <div class="mb-3">
        <%= form.label(:images, 'Images', class: 'form-label') %>
        <%= form.file_field(:images, accept: 'image/png,image/jpeg', multiple: true, class: 'form-control') %>
      </div>
      <%= form.submit('Save', class: 'btn btn-success') %>
    </div>
  <% end %>
</div>
