<div class="list-group">
  <% reservations.each do |reservation| %>
    <div class="d-flex justify-content-between">
      <div>
        <h5 class="mb-1">Start Date: <%= reservation.start_date %></h5>
        <p class="mb-1">End Date: <%= reservation.end_date %></p>
        <p class="mb-1">Status: <%= reservation.status %></p>
        <p class="mb-1">Total: <%= humanized_money_with_symbol(reservation.price_cents) %></p>
      </div>
      <div class="text-right">
        <% unless reservation.confirmed? %>
          <%= button_to confirmed_my_reservation_path(reservation), class: "btn btn-primary", method: :put do %>
            Confirm
          <% end %>
        <% end %>
        <%= button_to my_reservation_path(reservation), class: "btn btn-danger", method: :delete do %>
          Delete
        <% end %>
      </div>
    </div>
  <% end %>
</div>