<div class="container">
  <h1>Listing Rooms</h1>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Images</th>
      <th>Price per Night</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.address %></td>
        <td class="row">
          <% room.images.each do |image| %>
            <div class="col-md-4">
              <%= image_tag url_for(image), class: "img-preview" %>
            </div>
          <% end %>
        </td>
        <td><%= humanized_money_with_symbol(room.price_per_night) %></td>
        <td>
          <%= link_to 'Show', my_room_path(room), class: 'btn btn-primary btn-sm' %>
        </td>
        <td>
          <%= link_to 'Edit', edit_my_room_path(room), class: 'btn btn-secondary btn-sm' %>
        </td>
        <td>
          <%= link_to 'Destroy', my_room_path(room), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Room', new_my_room_path, class: 'btn btn-success' %>
</div>