<div class="container">
  <h1><%= @room.name %></h1>

  <p><strong>Address:</strong> <%= @room.address %></p>
  <p><strong>Images:</strong></p>
  <div class="row">
    <% @room.images.each do |image| %>
      <div class="col-md-4">
        <%= image_tag url_for(image), class: "img-thumbnail" %>
      </div>
    <% end %>
  </div>
  <p><strong>Rent per Night:</strong> <%= humanized_money_with_symbol(@room.price_per_night) %></p>

  <br>

  <%= link_to 'Edit', edit_my_room_path(@room), class: 'btn btn-secondary' %> |
  <%= link_to 'Destroy', my_room_path(@room), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %>
  <%= link_to 'Back', my_rooms_path, class: 'btn btn-primary' %>
</div>