<!DOCTYPE html>
<html>
<head>
  <title>Boo king!</title>
  <meta name="viewport" content="width=device-width, height=device-heigth, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<%= render partial: 'shared/navigation' %>
<%= render partial: 'shared/flashes' %>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
