<!DOCTYPE html>
<html>
  <head>
    <title>ModulotechTestRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'shared/navigation' %>

    <% if success.present? %>
      <div role="alert" class="alert alert-success fade show">
        <%= success %>
      </div>
    <% end %>

    <% if notice.present? %>
      <div role="alert" class="alert alert-info alert-dismissible fade show">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <% if alert.present? || error.present? %>
      <div role="alert" class="alert alert-warning alert-dismissible fade show">
        <%= alert || error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
